# Configurações de Ambiente (Senhas)
.env

# Banco de Dados da Unimed
prestadores.db
*.db-journal

# Logs e Cache
notificacoes.log
__pycache__/
*.pyc

# Pastas de ferramentas
.vscode/
venv/

# Arquivo de teste local
testar_envio.py
testar_layout.py
testar_layout2.py
teste_envio.py
teste.py
teste_*.html
inicio.html
alerta_1.html
alerta_5.html
alerta_10.html
*.bat
fix_sequences.py
teste_envio.py